<nav class="navbar navbar-expand-lg navbar-dark bg-secondary shadow-sm">
  <div class="container">
    <a class="navbar-brand fw-bold text-white" href="#">Controle de Produtos</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class="nav-link text-white fw-semibold"
            routerLink="/pages/castrar-produto"
            >Cadastrar Produtos</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white fw-semibold"
            routerLink="/pages/consultar-produtos"
            >Consultar Produtos</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white fw-semibold"
            routerLink="/pages/dashboard"
            >Dashboard</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
